/* Kill the left margin so we can use the space for slides. */
.article {
  margin-left: 0px;
}

/* Hide the nav drawer when larger screen, want the space for slides. */
@media only screen and (min-width: 959px) {
  .drawer {
    display: none;
  }
}

/* Background should go full width. */
.backdrop-paper:after {
    margin-left: 0px
}

/* The intro image */
.article h1 + p img {
  float: right;
  width: 12em;
  margin: 0em 2em 2em 4em;
  clip-path: none;
  -webkit-clip-path: none;
}

@media only screen and (max-width: 720px) {
  .article h1 + p img {
    float: none;
    width: 10em;
    margin: 0 auto !important;
    padding-right: 1em;
  }
}

/* Display slide images by the side. */
.article h2 + p + p img {
  display: block;
  float: left;
  width: 49%;
  margin-bottom: 2em;
  margin-right: .5%;
  margin-left: .5%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

/* Except on smaller screens. */
@media only screen and (max-width: 720px) {
  article h1 + p img {
    float: none;
    margin: 0 auto !important;
  }

  .article h2 + p + p img {
    float: none;
    width: 100%;
    margin: 0%;
    margin-bottom: 1em;
  }
}

/* Use hr to clear floats. */
hr {
  clear: both;
  visibility: hidden;
  height: 0px;
  margin: 0;
}

/* Adjust the info bar at the top. */
details.standalone {
  margin-top: 2em;
}

/* Posters should be three in a row. */
#posters + p + p img {
  width: 32%;
}
/* Except on smaller screens. */
@media only screen and (max-width: 720px) {
  #posters + p + p img  {
    float: none;
    width: 100%;
    margin: 0%;
    margin-bottom: 1em;
  }
}
